* {
    margin: 0;
    padding: 0;
}

section {
    height: 768px;
    width: 100%;

    background-color: #457B9D;
}

#first-see {
    text-align: center;
}

#first-see h1 {
    padding: 4% 0;
}

#first-see p {
    padding: 0 25%;
}

#menu {
    background-color: #003049;

    height: 75px;

    position: -webkit-sticky;
    position: sticky;

    top: 0;

    padding: 5px 0;
}

ul {
    list-style: none;
    display: flex;
}

li { 
    margin: 5px auto;
}

a {
    text-align: center;
    text-decoration: none;

    color: white;

    display: flex;
    flex-direction: column;
}

a p {
    margin: 3px auto;
}

a img {
    margin: 0 auto;
}

.icons {
    width: 40px;
    height: 40px;
}
