* {
    margin: 0;
    padding: 0;
}

#menu {
    background-color: #005583;

    height: 75px;

    position: -webkit-sticky;
    position: sticky;

    top: 0;
    z-index: 2;

    display: flex;
}

#div-logo {
    width: 90%;
}

#div-logo img {
    /* width: 200px;
    height: 55px; */

    width: 154px;
    height: 47px;
}

#icone-logo {
    width: 27%;

    margin:  15px;
}

#paginas {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
}

li { 
    margin: 2px auto;
}

.icones-menu {
    text-align: center;
    text-decoration: none;

    color: white;

    display: flex;
    flex-direction: column;
}

.icones-menu p {
    margin: 3px auto;
}

.icones-menu img {
    margin: 0 auto;
}

.icons {
    /* width: 90px; */
    height: 47px;
}