* {
    margin: 0;
    padding: 0;
}

#menu {
    background-color: #005583;

    height: 75px;

    position: -webkit-sticky;
    position: sticky;

    top: 0;
    z-index: 2;

    display: flex;

    font-family: 'Source Sans Pro', sans-serif;
}

#navegar {
    display: none;
}

#div-logo {
    width: 90%;
}

#div-logo img {
    width: 154px;
    height: 47px;
}

#icone-logo {
    width: 27%;

    margin:  15px;
}

#paginas {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
}

li { 
    margin: 2px auto;
}

.icones-menu {
    text-align: center;
    text-decoration: none;

    color: white;

    display: flex;
    flex-direction: column;
}

.icones-menu p {
    margin: 3px auto;
}

.icones-menu img {
    margin: 0 auto;
}

.icons {
    width: 90px;
    height: 47px;
}

@media screen and (max-width: 600px) {
    
    #paginas {
        display: none;
    }
    
    #navegar {
        display: block;
    }
    
    nav {
        background-color: #025785;
        
        width: 100%;
        height: 1100px;
        right: -100%;
        position: absolute;

        display: none;
    }
    
    ul {
        position: absolute;
        top: 100px;
    
        width: 100%;
    }
    
    #label-navbar {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1;
    }

    label img {
        width: 50px;
        height: 100%;
    
        cursor: pointer;
    }
    
    input[type="checkbox"]:checked ~ nav {

        transform: translateX(-100%);

        display: unset;
    }

    li a {
        text-decoration: none;
        color: #ffffff;
    
        display: block;
        padding: 20px 20px;
        margin: 0 5px;

        transition: 0.4s;

        font-size: 20pt;
        font-family: 'Quicksand', sans-serif;

    }
    
    li a:hover {
        background-color: rgb(255, 255, 255);
        color: black;
    }
    
    #nav {
        list-style: none;
    
        display: unset;
    }
    
    input[type="checkbox"] {
        display: none;
    }
    
    .img-publicacoes-divulgue img {
        display: none;
    }
}

