body {
    background-color: #9bb8dd;
}

#sobre-icone {
    border-bottom: rgb(233, 203, 103) 4px solid;

    border-radius: 5px 5px 0 0;
} 

section {
    width: 40%;
    margin: 20px auto 40px;

    border-radius: 10px;
    padding: 2vw 5vw;

    font-size: 20px;
    
    background-color: #d9d9d9;

}

#titulo {
    text-align: center;

    font-family: 'Lora', serif;
}

#titulo a {
    text-decoration: none;
    color: #1a54a0;
}

#titulo h1 {
    font-size: 35pt;
}

p {
    margin-bottom: 10px;

    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
}

li {
    font-family: 'Source Sans Pro', sans-serif;
}

#azul {
    color: blue;
}

#marrom {
    color: #4d0303;
}

#ods {
    margin: 10px auto 0;
    padding: 10px 0;

    background-color: rgba(230, 230, 250, 0.541);

    width: 100px;

    border-radius: 15px;

    transition: 0.3s;
}

#ods:hover {
    box-shadow: black 0px 1px 5px;

    transform: translateY(-2px);
}

#ods p {
    margin: 0;
    text-align: center;
}

#mapa {
    text-align: center;
}

#mapa h4 {
    margin-top: 60px;
    margin-bottom: 5px;
}

#mapa img {
    width: 80%;
}

#mapa a {
    display: block;

    font-size: 10pt;
    text-align: initial;

    margin-bottom: 25px;
}

#mapa p {
    text-align: initial;
}

.img-publicacoes-divulgue {
    margin-top: 20px;

    text-align: end;
}

.img-publicacoes-divulgue .celular {
    display: none;
}

h3 {
    margin-top: 50px;
    margin-bottom: 15px;

    border-bottom: 1px solid rgb(53, 69, 141);

    font-family: 'Lora', serif;
}

@media screen and (max-width: 1500px) {
    section {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    section {
        width: 85%;
    }

    .img-publicacoes-divulgue .pc {
        display: none;
    }

    .img-publicacoes-divulgue .celular {
        display: unset;

        width: 400px;
    }
} 